In [1]:
import numpy as np
import pandas as pd

In [2]:
%reload_ext postcell
%postcell register

PostCell loaded
Loading config file from C:\Users\shahb\Documents\GitHub\ProgrammingForAnalytics\postcell.conf
Registered user TEST_STUDENT at https://postcell.io/post_cell

In [24]:
names_ages_df = pd.DataFrame({'Name':['george washington', 'john adams', 'thomas jefferson', 'james madison', 'james monroe', 'andrew jackson', 'john quincy adams']
                              , 'DOB':['2/22/1732', '10/30/1735', '4/13/1743', '3/16/1751', '4/28/1758', '3/15/1767', '7/11/1767']})
names_ages_df

                Name         DOB
0  george washington   2/22/1732
1         john adams  10/30/1735
2   thomas jefferson   4/13/1743
3      james madison   3/16/1751
4       james monroe   4/28/1758
5     andrew jackson   3/15/1767
6  john quincy adams   7/11/1767

In [25]:
names_ages_df.dtypes

Name    object
DOB     object
dtype: object

In [27]:
names_ages_df.DOB = pd.to_datetime(names_ages_df.DOB)

In [28]:
names_ages_df.dtypes

Name            object
DOB     datetime64[ns]
dtype: object

# Using `str` to do string operations on Pandas columns

Given a string, such as 'george washington', normal Python will let you change case (`capitalize`, `lower`, `upper`), `split` it into tokens and do countless other operations:

In [17]:
'george washington'.capitalize()

'George washington'

But how can you do the same thing with pandas columns?

In [18]:
names_ages_df.Name

0    george washington
1           john adams
2     thomas jefferson
3        james madison
4         james monroe
5       andrew jackson
6    john quincy adams
Name: Name, dtype: object

The answer is `df.col.str`. Calling the `str` property will bring back all of core python's string functions:

In [19]:
names_ages_df.Name.str.capitalize()

0    George washington
1           John adams
2     Thomas jefferson
3        James madison
4         James monroe
5       Andrew jackson
6    John quincy adams
Name: Name, dtype: object

# Using `dt` to do datetime operations on Pandas columns

Similar to `str`, datetime operations can be done on pandas columns via `df.col.dt`:

In [30]:
names_ages_df.DOB.dt.year

0    1732
1    1735
2    1743
3    1751
4    1758
5    1767
6    1767
Name: DOB, dtype: int64

# Using `apply` for any transformation

Although pandas provides type specific methods via `str` and `dt`, using the `apply` function gives you much greater control.

You can pass in a function (including `lambda` functions, see relevant lecture if you are not familiar) so each cell appears as a single input. You can then apply any transformation you like.

#### Example: Change names from "first last" to "Last, First"

In [36]:
def last_first(name):
    tokens = name.split()
    return f'{tokens[1].capitalize()}, {tokens[0].capitalize()}'

last_first('homer simpson')

'Simpson, Homer'

In [37]:

names_ages_df.Name.apply(last_first)

0    Washington, George
1           Adams, John
2     Jefferson, Thomas
3        Madison, James
4         Monroe, James
5       Jackson, Andrew
6          Quincy, John
Name: Name, dtype: object